@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>    
    <a asp-controller="Home" asp-action="Privacy" data-countable="true">Link to Privacy</a>
</p><p>
    @Html.ActionLink("Filter Test", "Test", "Home", new { filter="10.2021" })
</p>
</div>
<form id="myForm" method="post" asp-action="SendData" asp-controller="Home">
    <input type="hidden" name="param" value="1"/>
</form>
@section Scripts {
 <script>
 $(function() {

  $("a[data-countable]").on('click', function(e) {
      //e.preventDefault();
      $.post('/Home/ClickCounter', 
      {
          url: $(this).attr('href')
      }, function(resp) {
      
      });
  });
});    
</script>
}